<section id="login">
    @if (Request.IsAuthenticated)
    {
        <text>
        Pozdravljen, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
<a href="javascript:document.getElementById('logoutForm').submit()">Odjava</a>
        }
        </text>
    }
    else
    {
        <ul>
            <li>@Html.ActionLink("Registracija", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Prijava", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }

</section>
<nav>
    <ul id="menu">
        <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>@Html.ActionLink("Domov", "Index", "Home")</li>
        <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>@Html.ActionLink("Informacije", "About", "Home")</li>
        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("Instruktor"))
            {
                <!--<li><span class="glyphicon glyphicon-book" aria-hidden="true"></span>@Html.ActionLink("Storitve", "Index", "Storitve")</li>-->
                <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>@Html.ActionLink("Urnik", "Index", "Urnik")</li>
                <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span>@Html.ActionLink("Predmetnik", "Predmeti", "Storitve")</li>
            }
            else if (User.IsInRole("Ucenec"))
            {
                <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>@Html.ActionLink("Najemi inštrukcijo", "Index", "Najemi")</li>
            }
        }
    </ul>
</nav>
