@model TPO_Seminar.Models.LocalPasswordModel
@{
    ViewBag.Title = "Nastavitve računa";
}
<p class="message-success">@ViewBag.StatusMessage</p>

<p>Prijavljen si kot <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
