@using TPO_Seminar.Models
@model TPO_Seminar.Models.ServiceCreation
@{
    ViewBag.Title = "Kvizi";
    var quizzes = new List<Quizzes>();
    var orders = new List<Orders>();
    var subjects = new List<Subjects>();
    int instructorId = 0;
    int ucenecId = 0;
    var ctx = new UserContext();

    var subjectRoles = new List<SubjectRoles>();

    if (User.IsInRole("Instruktor"))
    {

        var instruktor = ctx.Instruktors.Where(ins => ins.UserProfileId == WebSecurity.CurrentUserId).FirstOrDefault();
        instructorId = ctx.Instruktors.Where(ins => ins.UserProfileId == WebSecurity.CurrentUserId).FirstOrDefault().Id;

        subjectRoles = ctx.SubjectRoles.Where(el => el.InstructorId == instructorId).ToList();

        foreach (var subR in subjectRoles)
        {
            var qui = ctx.Quizzes.Where(quiz => quiz.SubjectRolesId == subR.Id).FirstOrDefault();
            if(qui!=null){quizzes.Add(qui);}
            var subject = ctx.Subjects.Where(sub => sub.Id == subR.SubjectId).FirstOrDefault();
            subjects.Add(subject);
        }

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id kviza</th>
                        <th>Ime Kviza</th>
                        <th>Ime predmeta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (quizzes.Count > 0)
                    { 
                        foreach (var quiz in quizzes)
                        {
                            var s = 0;
                            <tr>
                                <td>
                                    @quiz.Id
                                </td>
                                <td>@quiz.QuizName</td>
                                <td>@subjects.ElementAt(s).SubjectName</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" name="deleteQuiz" value="@quiz.Id">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Izbriši

                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" name="editQuiz" value="@quiz.Id">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Uredi
                                    </button>
                                </td>
                            </tr>
                            s++;
                        }
                    }
                </tbody>
            </table>
        </div>

        using (Html.BeginForm())
        {
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">
                        <h5>Nov kviz</h5>
                    </label>
                    <div class="col-sm-8">
                        <div class="col-sm-8">
                            <select class="form-control" data-val="true" data-val-number="The field SubjectId must be a number." data-val-required="The SubjectId field is required." id="SubjectId" name="SubjectId">
                                @foreach (var sub in subjectRoles)
                                {
                                    <option value="@sub.Id">@sub.Subjects.SubjectName</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button name="addQuiz" type="button" class="btn btn-default">Ustvari kviz</button>
                        </div>
                    </div>
                </div>
            </form>
        }
    }
    else if (User.IsInRole("Ucenec"))
    {
        var ucenec = ctx.Students.Where(stu => stu.UserProfileId == WebSecurity.CurrentUserId).FirstOrDefault();
        ucenecId = ctx.Students.Where(stu => stu.UserProfileId == WebSecurity.CurrentUserId).FirstOrDefault().Id;

        // vsa potrjena naročila ucenca
        orders = ctx.Orders.Where(ord => ord.StudentId == ucenecId && ord.Approved == true && ord.IsPaid == false).ToList();
        
        foreach (var order in orders)
        {
            // vloga predmeta naročenega inštruktorja
            var subRole = ctx.SubjectRoles.Where(subR => subR.SubjectId == order.SubjectId && subR.InstructorId == order.InstructorId).FirstOrDefault();

            if (subRole != null) { 
                // predmeti naročenega inštruktorja
                var subject = ctx.Subjects.Where(sub => sub.Id == subRole.SubjectId).FirstOrDefault();
                subjects.Add(subject);
                // kvizi naročenih predmetov
                var quiz = ctx.Quizzes.Where(q => q.SubjectRolesId == subRole.Id).FirstOrDefault();
                if (quiz != null) { quizzes.Add(quiz); }
            }
            
            
        }



        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id kviza</th>
                        <th>Ime Kviza</th>
                        <th>Ime predmeta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (quizzes.Count > 0)
                    {
                        foreach (var quiz in quizzes)
                        {
                            var s = 0;
                            <tr>
                                <td>
                                    @quiz.Id
                                </td>
                                <td>@quiz.QuizName</td>
                                <td>@subjects.ElementAt(s).SubjectName</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs" name="solveQuiz" value="@quiz.Id">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>Poskusi kviz
                                    </button>
                                </td>
                            </tr>
                            s++;
                        }
                    }
                </tbody>
            </table>
        </div>
    }

}

@section scripts {
    <script>
        $(document).ready(function () {

            $("button").click(function () {
                if ($(this).attr("name") == "deleteQuiz") {
                    var quizId = $(this).attr("value");
                    var formData = { QuizId: quizId };
                    $.ajax({
                        url: "Kvizi/DeleteQuiz",
                        type: "POST",
                        data: formData,
                        success: function (data) {
                            $("body").html(data);
                        }
                    });
                }
                else if ($(this).attr("name") == "editQuiz") {
                    var quizId = $(this).attr("value");
                    var formData = { QuizId: quizId };
                    $.ajax({
                        url: "Kvizi/EditQuiz",
                        type: "POST",
                        data: formData,
                        success: function (data) {
                            $("body").html(data);
                        }
                    });
                }
                else if ($(this).attr("name") == "addQuiz") {
                    var subjectId = $("#SubjectId :selected").val();
                    var formData = { SubjectRolesId: subjectId };
                    //alert(subjectId);
                    $.ajax({
                        url: "Kvizi/DodajQuiz",
                        type: "POST",
                        data: formData,
                        success: function (data) {
                            $("body").html(data);
                        }
                    });

                }
                else if ($(this).attr("name") == "solveQuiz") {
                    var quizId = $(this).attr("value");
                    var formData = { QuizId: quizId };
                    $.ajax({
                        url: "Kvizi/SolveQuiz",
                        type: "POST",
                        data: formData,
                        success: function (data) {
                            $("body").html(data);
                        }
                    });
                }
            });
        });
    </script>

}
